<div class="sw_mast">
  <div class="sw_head"><p class="toggle-popup">Have you heard me speak?</p></div>
<a href="#" class="toggle-button">Click Here To Show DIV</a>
</div>
<div class="sw_lanyard_wrapper">
	<iframe class="sw_login" src="http://localhost:3000/authentications" width="90%" height="90%"></iframe> 
<div class="sw_lanyard_content">


</div>
<div style="clear:both"></div>
</div>

<style type="text/css" media="screen" id="sw_css_<%= v %>">
#sw_<%= v %> .toggle-popup{text-decoration: underline;}   
#sw_<%= v %> {overflow: visible;height: auto;background-color: grey}  

</style>